<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Redirecting to eSewa</title>
</head>
<body>
<div class="container">
    <h2>Please wait, redirecting to eSewa...</h2>

    <form id="esewaForm"
          action="https://rc-epay.esewa.com.np/api/epay/main/v2/form"
          method="POST">

        <!-- eSewa v2 fields -->
        <input type="hidden" name="amount" value="{{ total_amount }}">
        <input type="hidden" name="tax_amount" value="0">
        <input type="hidden" name="total_amount" value="{{ total_amount }}">
        <input type="hidden" name="transaction_uuid" value="{{ transaction_uuid }}">
        <input type="hidden" name="product_code" value="{{ product_code }}">
        <input type="hidden" name="product_service_charge" value="0">
        <input type="hidden" name="product_delivery_charge" value="0">

        <input type="hidden" name="success_url" value="{{ success_url }}">
        <input type="hidden" name="failure_url" value="{{ failure_url }}">

        <input type="hidden" name="signed_field_names" value="{{ signed_field_names }}">
        <input type="hidden" name="signature" value="{{ signature }}">

        <button type="submit">Proceed to eSewa</button>
    </form>

    <script>
        setTimeout(function () {
            document.getElementById("esewaForm").submit();
        }, 800);
    </script>
</div>
</body>
</html>